/* Сперва общие правила */

* {
    box-sizing: border-box


}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    padding-left: 40px;
    margin: 0px auto;


}

h2 {
    margin-left: -130px;

}

h3 {
    margin-left: -130px;

}

p {
    margin-left: -130px;

}

a {

}

/* Колонки */

.row {
    display: flex;
    justify-content: center;




}
.col {
    flex: auto;
    margin: 10px 10px 10px 10px;

}


/* Потом селекторы по классам */

.text-input {
    margin: 5px 0px 5px -130px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;

}

.button {
    background-color: #554AF0;
    border-color: #554AF0;
    color: white;
    margin: 5px 0px 5px -130px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    margin: 5px 0px 5px -130px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;


}


/* Страничка жанров и тегов */

.genre-first {
    background-color: #E1F5EA;
    margin:  10px 5px 10px -130px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;

}

.genre-second {
    width: 90%;
    margin:  10px 5px 10px -130px;
    background-color: #554AF0;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;

}

.genre-third {
    width: 50%;
    margin:  10px 5px 10px -130px;
    background-color: #CBEDFF;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;

}

.genre-fourth {
    width: 30%;
    margin:  10px 5px 10px -130px;
    background-color: #EBDCF9;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;

}

.img1 {
    margin-left: -130px

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    background-color: #554AF0;
    border-color: #554AF0;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5x;
    margin-left: 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    text-decoration: none;


}

.create {
    margin-left: -130px;

}
